@* @model string *@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Home Page";
}
<html>
<body>
<div class="text-center">
    <h1 class="display-4">Welcome to our website!</h1>
    <p>To enjoy our services and products please register yourself</p>
    <a asp-action="RegistrationForm">Register now</a>

    @* dette er tekst fra malen-> <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
    @* @Model *@
</div>
</body>
</html>
