@* @model string *@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Home Page";
}
<html>
<body>
<div class="text-center">
        <h1 class="display-4">Please Register a Change to an Area! </h1>
    @* <p>Please Register a change to an area around you!</p> *@
  @*   <a asp-action="RegistrationForm">Register now</a> *@

    @* dette er tekst fra malen-> <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
    @* @Model *@
</div>
</body>
</html>
